{% extends "main.html" %}
{% load bbcode_tags %}
{% block title %}Удаление новости :: {{ object.title }}{% endblock %}
{% block main %}
  <h2>Удаление новости</h2>
  <h4>{{ object.title }}</h4>
  <div>{{ object.content|bbcode|safe }}</div>
  <p class="posted">{{ object.posted|date:"j.m.Y H:i:s" }}</p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
  </form>
  <p><a href="{% url "news_index" %}?page={{ pn }}">Назад</a></p>
{% endblock %}
